.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.form {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 104px;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: all 250ms ease;

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 512px;
    position: absolute;
    transition: all 250ms ease;
    left: 0;
    top: 40px;
    transform: translateX(0);

    @media only screen and (max-width: 768px) {
      width: 100%;
      top: 10px;
    }

    &.active {
      left: 50%;
      top: 276px;
      transform: translateX(-50%);
    }
  }

  @media only screen and (max-width: 768px) {
    height: 74px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
