.form {
  display: flex;
  gap: 8px;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 32px;
  transition: all 250ms ease;
  width: 420px;

  &.active {
    top: 276px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    position: sticky;
    transform: translateY(0);
    padding-bottom: 16px;
    padding-top: 10px;
    background: #fff;
    top: 0;

    &.active {
      transform: translateY(232px);
      left: 0;
      top: 0;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
