:root {
  font-family: Arial, system-ui, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1329px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
